<!DOCTYPE html>
<head>
<meta charset = "UTF-8">
<title>Blog</title>
</head>
<body>
    错了，错了好，错了好！错也是好！
    <script type='text/javascript' src="http://www.clickplus.cn" charset="utf-8"></script>
</body>
</html>